/**
 * Copyright 2009, 2010 lazydog.org.
 *
 * This file is part of JPrefer.
 *
 * JPrefer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * JPrefer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Preference Manager.  If not, see <http://www.gnu.org/licenses/>.
 */
 
body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Page Layout */
#page {
    background-color: #ffffff;
    font-size: 11px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#content {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#header {
    height: 75px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#header-banner {
    background-image: url('../images/gradient.jpg');
    background-repeat: repeat-x;
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#header-bar-form {
    background-color: #326ad1;
    color: #ffffff;
    height: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: right;
    width: 100%;
}

#footer {
    clear: both;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    font-style: italic;
    height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

/* Content Layout */
#preference-table {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#agent-table {
    clear:both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#agent-data-table,
#preference-data-table {
    margin: 10px;
}

.modal-panel-grid {
    width: 100%;
}

/* Forms */
form input[type="button"], form input[type="submit"] {
    background-color: #326ad1;
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

form input[type="button"][disabled], form input[type="submit"][disabled] {
    background-color: #e5e8f0;
    color: #cad4e5;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

form input, form fieldset input {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 2px;
    padding: 0;
}

form fieldset label {
    background-color: #c1e0fc;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 2px;
    padding: 4px;
    text-align: right;
    width: 100px;
}

form fieldset ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

form fieldset li {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
}

form select, form fieldset select {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 2px;
    padding: 0;
}

.table-buttons {
    background-color: #c1e0fc;
    white-space: nowrap;
}

.form-buttons {
    clear: both;
    float: left;
    margin: 15px 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

/* Table */
.table-cell {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 13px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

/* Agent Table */
.agent-table-server-name-cell {
    width: 400px;
}

.agent-table-enabled-cell {
    width: 100px;
}

.agent-table-status-cell {
    width: 100px;
}

/* Snapshot Table */
.snapshot-table-name-cell {
    width: 300px;
}

.snapshot-table-date-cell {
    width: 200px;
}

/* RichFaces Table */
.rich-table-row:hover {
    background-color: #cccccc;
}

.rich-table-cell {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

/* RichFaces Tree */
.rich-tree-node:hover {
    background-color: #cccccc;
}

.rich-tree-node-highlighted {
    border: 0;
    color: #000000;
    text-decoration: none;
}

.rich-tree-node-selected {
    border: 0;
}

/* RichFaces Modal Panel */
.dr-mpnl-pnl {
    overflow: auto!important;
}

.rich-mpnl-body {
    margin: 0;
    padding: 0;
}
